body {
  font-size: 0.9rem;
}

.font-weight-600 {
  font-weight: 600;
}

.card {
  border-top: none !important;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0;
}

.card-body {
  padding-left: 0 !important;
}
